@import 'dependencies';

.grid-container {
  margin: 20px;
}

.dashboard-card {
  display: flex;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: white;
  opacity: 0.9;

  &:hover {
    box-shadow: 0 6px 10px 0 $color-homepage-card-shadow,
      0 8px 22px 0 $color-homepage-card-shadow;
    opacity: 1;
  }
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  width: 100%;
  text-align: center;
  h2 {
    font-size: 30px;
    color: $color-homepage-card-text;
    text-shadow: 2px 2px black;
  }
  h3 {
    font-size: 22px;
    color: $color-homepage-card-text;
    text-shadow: 2px 2px black;
  }
}
