@import 'dependencies';

.background-section {
  background-image: url('../../../../assets/images/contact.jpg');
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  background-position: center;
}

agm-map {
  height: 400px;
  width: 400px;
  padding-left: 5px;
}

.background-section {
  display: flex;
  text-shadow: 2px 2px $accent;

  h1 {
    color: $color-about-header;
    font-size: 45px;
    margin-bottom: 0;
  }

  p {
    padding: 10px;
    color: $color-about-text;
  }
}

span {
  color: black;
  a {
    color: black;
    text-decoration: none;
  }
}

.about-container {
  padding: 35px 0;
}
