<div
  class="background-section"
  fxLayout="column"
  fxLayoutAlign="center center"
  [ngStyle.lt-sm]="{ 'font-size': '18px' }"
  [ngStyle.gt-xs]="{ 'font-size': '25px' }"
>
  <h1>{{ title }}</h1>
  <p [ngStyle.gt-xs]="{ width: '600px' }">
    The Virtual Restaurant offer in Poland includes a wide range of sandwiches,
    drinks and desserts, as well as toppings, such as fries and salads. Their
    diversity allows to compose a suitably balanced meal by people with
    different needs and preferences.
  </p>
</div>

<div
  class="about-container"
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxLayout.lt-md="column"
>
  <div
    fxLayout="column"
    fxLayoutAlign="center start"
    [ngStyle.lt-md]="{ 'padding-bottom': '40px' }"
  >
    <div fxLayoutGap="10px">
      <h2>Contact</h2>
      <button mat-mini-fab><mat-icon>location_on</mat-icon></button>
      <span>Rostafińskiego 9, Cracov, Poland</span>
    </div>
    <div fxLayoutGap="10px">
      <button mat-mini-fab><mat-icon>phone</mat-icon></button>
      <span>+48 12 617 59 59</span>
    </div>
    <div fxLayoutGap="10px">
      <button mat-mini-fab><mat-icon>email</mat-icon></button>
      <span>
        <a href="mailto:virtualrestaurant@gmail.com"
          >virtualrestaurant@gmail.com</a
        >
      </span>
    </div>
  </div>
  <agm-map
    [zoom]="zoom"
    [latitude]="lat"
    [longitude]="lng"
    [ngStyle.lt-sm]="{ height: '300px', width: '300px' }"
  >
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>
