<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile
      *ngFor="let card of (cards | async)"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card
        class="dashboard-card"
        [style.backgroundImage]="'url(' + card.image + ')'"
        [ngStyle]="{
          'background-size': 'cover',
          'background-position': '50% 50%'
        }"
      >
        <mat-card-content class="dashboard-card-content">
          <h2
            [ngStyle.sm]="{ 'font-size': '23px' }"
            [ngStyle.xs]="{ 'font-size': '17px' }"
          >
            {{ card.title }}
          </h2>

          <h3
            [ngStyle.sm]="{ 'font-size': '20px' }"
            [ngStyle.xs]="{ 'font-size': '14px' }"
          >
            {{ card.description }}
          </h3>

          <mat-action-list *ngIf="card.button">
            <button
              [routerLink]="['/about-us']"
              mat-raised-button
              color="accent"
            >
              More
            </button>
          </mat-action-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
