@import 'dependencies';

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: $color-footer-background;
  mat-icon {
    padding-right: 0px;
  }
  .logo-container {
    display: flex;
    justify-content: center;
    .logo {
      height: 160px;
      margin: 0 20px;
    }
  }
  .contact {
    display: flex;
    justify-content: center;
  }

  span {
    color: $color-footer-text;
    a {
      color: $color-footer-text;
      text-decoration: none;
    }
  }
  .social {
    padding-bottom: 10px;
    mat-icon {
      width: 60px;
      height: 60px;
      fill: $color-logo-background;
    }
    .fb:hover {
      fill: $color-fb-hover;
    }
    .yt:hover {
      fill: $color-yt-hover;
    }
    .insta:hover {
      fill: $color-insta-hover;
    }
  }
}
