<footer
  class="footer-container"
  fxLayout="row"
  fxLayoutGap="20px"
  fxLayout.lt-md="column"
>
  <div class="logo-container">
    <img
      class="logo"
      src="../../assets/images/logo-footer.png"
      alt="Virtual Restaurant Logo"
    />
  </div>
  <div class="contact">
    <div fxLayout="column" fxLayoutAlign="space-around">
      <div fxLayoutGap="10px">
        <button mat-mini-fab><mat-icon>location_on</mat-icon></button>
        <span>Rostafińskiego 9, Cracov, Poland</span>
      </div>
      <div fxLayoutGap="10px">
        <button mat-mini-fab><mat-icon>phone</mat-icon></button>
        <span>+48 12 617 59 59</span>
      </div>
      <div fxLayoutGap="10px">
        <button mat-mini-fab><mat-icon>email</mat-icon></button>
        <span>
          <a href="mailto:virtualrestaurant@gmail.com"
            >virtualrestaurant@gmail.com</a
          >
        </span>
      </div>
    </div>
  </div>
  <div
    class="social"
    fxFlex="33%"
    fxLayoutGap="20px"
    fxLayoutAlign="center center"
  >
    <a href="http://www.facebook.com" target="_blank">
      <mat-icon svgIcon="virtual-icons:facebook" class="fb"></mat-icon
    ></a>
    <a href="http://www.instagram.com" target="_blank">
      <mat-icon svgIcon="virtual-icons:instagram" class="insta"></mat-icon>
    </a>
    <a href="http://www.youtube.com" target="_blank">
      <mat-icon svgIcon="virtual-icons:youtube" class="yt"></mat-icon>
    </a>
  </div>
</footer>
