<div *ngIf="product">
  <h1>{{ title }}</h1>

  <div fxLayout="row" class="button-actions">
    <button mat-raised-button color="accent" routerLink="{{product.name}}">
      Add to cart<mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="goBack()">
      Back<mat-icon>undo</mat-icon>
    </button>
  </div>
  <app-product-preview [product]="product"></app-product-preview>
  <h2>Ingredient</h2>
</div>