<h1>{{ title }}</h1>


<mat-tab-group class="tabs">
  <!-- product -->
  <mat-tab label="Products">
    <div class="button">
      <button mat-raised-button color="primary" [routerLink]="['/products/add']">
        Add<mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <div *ngIf="dataSource && dataSource.length > 0">
      <div class="mat-elevation-z8 data-table">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element">{{ element.category }}</td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="accent" [routerLink]="[ '/products', element.id, 'edit' ]">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-raised-button color="warn" (click)="deleteProduct(element)">
                <mat-icon>clear</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="
                        displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
    <div *ngIf="dataSource && dataSource.length === 0">
      <app-not-found></app-not-found>
    </div>
  </mat-tab>
  <!-- ingredient -->
  <mat-tab label="Ingredients">
    <app-not-found></app-not-found>
  </mat-tab>
  <!-- discount -->
  <mat-tab label="Discounts">
    <app-not-found></app-not-found>
  </mat-tab>
</mat-tab-group>