<mat-card class="preview-card">
  <mat-card-header>
    <img mat-card-avatar [src]="product.imageSrc" [alt]="product.name" [title]="product.name" />
    <mat-card-title>
      <div fxLayout="row" fxLayoutGap="25px">
        <div>{{product.name}}</div>
        <div>{{product.price | currency}}</div>
      </div>
    </mat-card-title>
    <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
  </mat-card-header>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around center" fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start start">
    <img class="image" [ngStyle.lt-sm]="{ height: '300px', width: '300px' }" mat-card-image [src]="product.imageSrc"
      [alt]="product.name" [title]="product.name" />
    <mat-card-content>
      <p>{{product.description}}</p>
    </mat-card-content>
  </div>
</mat-card>
<div *ngIf="product.nutritionalValues">
  <mat-card class="nutitrional-card">
    <h1>Nutritional values</h1>
    <mat-divider></mat-divider>
    <mat-card-title>
      <div class="nutritional-values-text" [ngStyle]="{'padding-top': '20px'}" fxLayout="row" fxLayoutAlign="space-between center">
        <div>Weight: </div>
        <div>{{product.nutritionalValues.nutValWeight}}</div>
      </div>
    </mat-card-title>
    <mat-card-subtitle class="nutritional-values-subtitle">Value in grams</mat-card-subtitle>
    <mat-card-title>
      <div class="nutritional-values-text" fxLayout="row" fxLayoutAlign="space-between center">
        <div>Kcal: </div>
        <div>{{product.nutritionalValues.nutValCalories}}</div>
      </div>
    </mat-card-title>
    <mat-card-title>
      <div class="nutritional-values-text" [ngStyle]="{'padding-top': '30px'}" fxLayout="row" fxLayoutAlign="space-between center">
        <div>Protein: </div>
        <div>{{product.nutritionalValues.nutValProtein}}</div>
      </div>
    </mat-card-title>
    <mat-card-subtitle class="nutritional-values-subtitle">Value in grams</mat-card-subtitle>
    <mat-card-title>
      <div class="nutritional-values-text" fxLayout="row" fxLayoutAlign="space-between center">
        <div>Carbo: </div>
        <div>{{product.nutritionalValues.nutValCarbo}}</div>
      </div>
    </mat-card-title>
    <mat-card-subtitle class="nutritional-values-subtitle">Value in grams</mat-card-subtitle>
    <mat-card-title>
      <div class="nutritional-values-text" fxLayout="row" fxLayoutAlign="space-between center">
        <div>Sugar: </div>
        <div>{{product.nutritionalValues.nutValSugar}}</div>
      </div>
    </mat-card-title>
    <mat-card-subtitle class="nutritional-values-subtitle">Value in grams</mat-card-subtitle>
    <mat-card-title>
      <div class="nutritional-values-text" fxLayout="row" fxLayoutAlign="space-between center">
        <div>Fast: </div>
        <div>{{product.nutritionalValues.nutValFats}}</div>
      </div>
    </mat-card-title>
    <mat-card-subtitle class="nutritional-values-subtitle">Value in grams</mat-card-subtitle>
  </mat-card>
</div>