@import 'dependencies';

.preview-card {
    margin: 20px;
    max-width: 800px;
  }
  
.image {
    width: 350px;
    height: 350px;
    padding-left: 5px;
  }

mat-card-content {
  display: flex;
  flex: 1;
  font-size: 22px;
}

.nutitrional-card{
  margin-left: 20px;
  max-width: 350px;
}

.nutritional-values-text{
  color: $accent;
  font-size: 26px;
  padding: 10px 0 0 20px;
}

.nutritional-values-subtitle{
  padding-left: 20px;
}