// Theme color
$primary: #3f51b5;
$accent: #ff4081;

//Footer
$color-logo-background: #2ea8be;
$color-footer-background: rgb(41, 40, 40);
$color-footer-text: white;
$color-fb-hover: #3b5999;
$color-yt-hover: #cd201f;
$color-insta-hover: #e4405f;

//Product-list
$color-product-card-shadow: rgba(0, 0, 0, 0.2);

//Navigation-panel
$color-toolbar-shadow: rgba(0, 0, 0, 0.2);

//About-us
$color-about-header: white;
$color-about-text: white;

//Homepage
$color-homepage-card-shadow: rgba(0, 0, 0, 0.2);
$color-homepage-card-text: white;

//Not-found
$color-not-found: #929292;
