<div fxLayout="column" fxLayoutAlign="start center">
  <img class="image-no-found-page" src="assets/images/error404.jpg" />
  <h3>Page not found</h3>
  <h4>Sorry, the page you were looking for on Virtul Restaurant does not exist.
    You will be redirected shortly to the homepage.
  </h4>
  <button mat-raised-button color="accent" routerLink='/homepage'>
    Back to homepage
  </button>
</div>