@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'partials/dependencies';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1 {
  color: $primary;
  margin-left: 20px;
}

h2 {
  color: $accent;
  margin-left: 20px;
}

