<div fxLayout="row wrap" fxLayoutGap="20px">
  <mat-card *ngFor="let product of products" class="product-card">
    <mat-card-header>
      <img mat-card-avatar [src]="product.imageSrc" [alt]="product.name" [title]="product.name" />
      <mat-card-title fxLayout="row" fxLayoutGap="30px">
        <div>{{ product.name }}</div>
        <div>{{ product.price | currency }}</div>
      </mat-card-title>
      <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="product.imageSrc" [alt]="product.name" [title]="product.name" />
    <mat-card-content>
      <p>{{ product.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/products', product.id]">
        DETAILS<mat-icon>more</mat-icon>
      </button>
      <button mat-raised-button color="accent">
        ADD<mat-icon>add_shopping_cart</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>