@import 'dependencies';

.product-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 250px;
  margin: 20px;
  min-height: 500px;
}

.product-card:hover {
  box-shadow: 0 4px 8px 0 $color-product-card-shadow,
    0 6px 20px 0 $color-product-card-shadow;
}

mat-card-header {
  display: flex;
  flex: 1;
  min-height: 100px;
}

mat-card-content {
  display: flex;
  flex: 1;
}

mat-icon {
  margin-left: 8px;
}
