<h1>{{ title }}</h1>

<div *ngIf="sandwiches">
    <app-product-list [products]="sandwiches"></app-product-list>
</div>
<div *ngIf="sandwiches && sandwiches.length === 0">
    <app-not-found></app-not-found>
</div>