@import 'dependencies';

.mat-form-field{
  width: 400px;
}

mat-card {
  margin-left: 25px;
  width: 360px;
}

.image {
  width: 350px;
  height: 350px;
}

.description {
  margin-top: 95px;
  font-size: 22px;
}

button {
  margin: 0 0 20px 20px;
}