<div class="container">
  <div [hidden]="submitted">
    <h1>Add Product</h1>
    <form (ngSubmit)="onSubmit()" #productForm="ngForm" class="product-add-forms" fxLayout="column" fxLayoutAlign="center center">

      <mat-form-field>
        <input matInput placeholder="Name" id="name" required [(ngModel)]="product.name" name="name" #name>
        <mat-error *ngIf="!name.valid">Name is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Categories" id="category" required [(ngModel)]="product.category" name="category"
          #category>
          <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
        </mat-select>
        <mat-error *ngIf="!category.valid">Category is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Price" type="number" id="price" required [(ngModel)]="product.price" name="price"
          #price>
        <mat-error *ngIf="!price.valid">Price is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Description" rows="4" id="description" required [(ngModel)]="product.description"
          name="description" #description></textarea>
        <mat-error *ngIf="!description.valid">Description is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Image" type="url" id="imageSrc" required [(ngModel)]="product.imageSrc" name="imageSrc"
          #imageSrc>
        <mat-error *ngIf="!imageSrc.valid">Image is required</mat-error>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.form.valid">
          Submit<mat-icon>done</mat-icon>
        </button>

        <button type="button" mat-raised-button color="warn" (click)="productForm.reset()">
          Reset<mat-icon>clear</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>

<!-- submitted = true -->
<div [hidden]="!submitted">
  <h1>You submitted the following:</h1>

  <div>
    <button type="button" mat-raised-button color="primary">
      Edit<mat-icon>create</mat-icon>
    </button>
    <button type="button" mat-raised-button (click)="resetForm(); productForm.reset()" color="accent">
      Add new<mat-icon>add_circle_outline</mat-icon>
    </button>

  </div>
  <app-product-preview [product]="product"></app-product-preview>
</div>