<div fxLayout="column" fxLayoutAlign="start center">
    <img class="image-no-found" src="assets/images/notfound.png" />
    <h3>No items</h3>
    <h4>You haven't saved any items yet, so we don't have anything to show you! Go save some!</h4>
</div>