<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/homepage">
        <mat-icon>home</mat-icon>Home
      </a>
      <a mat-list-item routerLink="/sandwiches">
        <mat-icon svgIcon="virtual-icons:hamburger"></mat-icon>Sandwiches
      </a>
      <a mat-list-item routerLink="/fries">
        <mat-icon svgIcon="virtual-icons:fried-potatoes"></mat-icon>Fries
      </a>
      <a mat-list-item routerLink="/drinks">
        <mat-icon>local_drink</mat-icon>Drinks
      </a>
      <a mat-list-item routerLink="/salads">
        <mat-icon svgIcon="virtual-icons:salad"></mat-icon>Salads
      </a>
      <a mat-list-item routerLink="/discount">
        <mat-icon>card_giftcard</mat-icon>Discounts
      </a>
      <a mat-list-item routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon>Shopping Cart
      </a>
      <a mat-list-item routerLink="/about-us">
        <mat-icon>info</mat-icon>About us
      </a>
      <a mat-list-item routerLink="/admin-panel" *ngIf="isAuthenticated">
        <mat-icon>build</mat-icon>Admin panel
      </a>

      <button class="log-button" mat-button (click)="oktaAuth.logout()" *ngIf="isAuthenticated" [routerLink]="['/homepage']">
        <mat-icon>power_settings_new</mat-icon>Logout
      </button>
      <button class="log-button" mat-button (click)="oktaAuth.loginRedirect()" *ngIf="!isAuthenticated">
        <mat-icon>power_settings_new</mat-icon>Login
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img class="logo" src="assets/images/logo-with-background-2.png" alt="Virtual Restaurant Logo" />
    </mat-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>