@import 'dependencies';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 75px;
  box-shadow: 0 4px 8px 0 $color-toolbar-shadow,
    0 6px 20px 0 $color-toolbar-shadow;
}

.wrapper {
  min-height: calc(100vh - 250px);
}

.mat-icon {
  margin-right: 10px;
}

.logo {
  cursor: pointer;
  height: 75px;
  margin-left: 10px;
}

.log-button{
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
}