mat-horizontal-stepper{
    margin-top: 20px;
}

table {
    max-width: 500px;
    min-width: 300px;
  }
  
tr.mat-footer-row {
  font-weight: bold;
}

.action-buttons {
  margin-top: 20px;
  button {
    margin-right: 10px;
  }
}